@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

.custom-gradient-heading {
  font-weight: 600;
  background-image: linear-gradient(
    0deg,
    rgba(200, 200, 200, 0.85) 0%,
    rgba(230, 230, 230, 0.95) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right-to-left {
  animation: scroll-right-to-left 20s linear infinite;
}

.animate-scroll-left-to-right {
  animation: scroll-left-to-right 20s linear infinite;
}

/* Smooth keyframe with easing between steps */

@keyframes smoothScroll {
  0% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-1.2em);
  }
  25% {
    transform: translateY(-2.4em);
  }
  37.5% {
    transform: translateY(-3.6em);
  }
  50% {
    transform: translateY(-4.8em);
  }
  62.5% {
    transform: translateY(-6em);
  }
  75% {
    transform: translateY(-7.2em);
  }
  87.5% {
    transform: translateY(-8.4em);
  }
  100% {
    transform: translateY(0);
  }
}

.slider-smooth {
  display: flex;
  flex-direction: column;
  animation: smoothScroll 12s ease-in-out infinite;
}
